.movies {
  height: 100%;
  &-list {
    height: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;

    a {
      text-decoration: none;
      color: red;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }

  &-pagination {
    width: 100%;
    height: 30px;
    padding-top: 2px;
    background-color: grey;
  }
}
